.applicantList {
	list-style: none;
	margin: 1rem 0;
	padding: 0;
}

.applicantList li {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin-bottom: .75rem;
}

.downloadButton {
	width: fit-content;
	padding: .5rem .75rem;
	font-size: larger;
	display: inline-block;
}

.pendingMessage {
	color: #666;
	font-size: larger;
	margin-top: 1rem;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
