.applicantList {
	list-style: none;
	margin: 1rem 0;
	padding: 0;
}

.applicantList li {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin-bottom: .75rem;
}

.downloadButton {
	width: fit-content;
	padding: .5rem .75rem;
	font-size: larger;
	display: inline-block;
}
